<h1>
    {{title}}
  </h1><br>
  <div class="login-box">
    <h2>Login</h2>
    <form>
      <div class="user-box">
        <input type="text" name="user" required="true">
        <label>Usuario</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" required="true">
        <label>Contraseña</label>
      </div>
      <a href="#">
        INGRESAR MAIN
      </a>
      <a href="#miModal">
        Registrarse
      </a>
    </form>
  </div>
  <ul>
    <li>{{curso}}</li>
    <li>{{profesor}}</li>
  </ul>
